#amadventure {
  background-image: url("projects-screenshots/amadventure/Amadventure-logo.png");
}

#contact {
  color: white;
  background-color: #343a40;
}

#contact .subject {
  font-weight: bold;
}
