#contact {
  margin: 0;
  color: white;
  background-color: #343a40;
}

#contact .subject {
  font-weight: bold;
}

#projects {
  margin-top: 20px;
}

.logo {
  font-weight: bold;
}

.description p{
  margin-bottom: 1vw;
}